{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter new password</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body class="background">
<div class="container">
    <div class="card">
        <article class="card-body mx-auto" style="max-width: 400px;">
            {% if validlink %}
            <h4 class="card-title text-center mb-4 mt-1">Set a new password!</h4>
            <hr>
            <p></p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <input type="submit" value="Change my password" class="btn btns_registration">
                </div>
            </form>
            {% else %}
            <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </p>
            {% endif %}
        </article>
    </div>
</div>
</body>
</html>