{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Otpverify</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<br><br>
<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <form name="form" id="form" method="POST" action="{% url 'otpverify' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                    <strong>{{ message }}</strong>
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input class="form-control" placeholder="One Time Password" type="text" name="otp" id="otp"
                           required="true" onkeypress="return checknumber(event)">
                </div>
                <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Verify OTP</button>
                </div>
            </form>
        </article>
    </div>
</div>
<br><br>
</body>
</html>